@use '../variables';
@use '../mixing';

.create-form {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	display: flex;
	flex-wrap: wrap;

	img {
		max-width: 700px;
	}

	form {
		z-index: 5;
		width: 100%;
		max-width: 400px;
		margin: 2rem auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		background: rgba(255, 255, 255, 0.25);
		box-shadow: 0 5px 8px 0 rgba(66, 66, 66, 0.37);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		border-radius: 0.3rem;
		border: 1px solid rgba(255, 255, 255, 0.18);
		padding: 3rem 1rem;
		.form-control {
			width: 100%;
			display: grid;
			input {
				background-color: transparent;
				border-top: none;
				border-left: none;
				border-right: none;
				font-size: 1.3rem;
				&:focus {
					outline: none;
					border-bottom: 2px solid variables.$blue;
				}
			}
		}
	}
}

.cars {
	display: grid;
	height: fit-content;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	img {
		width: 100%;
		height: 200px;
		max-width: 400px;
		object-fit: cover;
	}
	.car-card {
		padding: 0.5rem;
		box-shadow: 3px 5px 8px #57575739;
	}
	@include mixing.device(xl) {
		grid-template-columns: repeat(6, 1fr);
	}
	@include mixing.device(lg) {
		grid-template-columns: repeat(3, 1fr);
	}
	@include mixing.device(md) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include mixing.device(sm) {
		grid-template-columns: repeat(1, 1fr);
	}
}
