@use './variables';
@use './reset';
@use './mixing';
@use './components/navbar';
@use './components/sidebar';
@use './components/common';
@use './components/buttons';
@use './components/rating';
@use './pages/home';
@use './pages/cars';

h1 {
	@include mixing.device(xl) {
		font-size: variables.$size-3;
	}
	@include mixing.device(md) {
		font-size: variables.$size-2;
	}
	@include mixing.device(sm) {
		font-size: variables.$size-1;
	}
}

input:focus {
	outline: none !important;
	border: 1px solid red !important;
	box-shadow: 0 0 10px #719ece !important;
}

main {
	flex: 1;
	display: grid;
}

.submit-btn {
	background-color: variables.$blue;
	color: white;
	cursor: pointer;
	width: 100%;
	padding: 0.2rem 1rem;
	border-radius: 0.2rem;
	border: none;
	transition: opacity 0.2s ease-in-out;
	font-size: 1.2rem;
	&:focus {
		outline: none;
	}
	&:hover {
		opacity: 0.8;
	}
}

// Main layout notification

.notification {
	box-shadow: 0 8px 32px 0 rgba(47, 47, 47, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 2px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	position: absolute;
	bottom: 2rem;
	left: -300px; /* Start off-screen */
	animation: slideIn 1s forwards; /* Apply animation */
	opacity: 1;
}

@keyframes slideIn {
	0% {
		left: -300px; /* Start off-screen */
	}
	100% {
		left: 1rem; /* End position */
	}
}

.success {
	background-color: rgba(0, 128, 0, 0.663);
	color: white;
}
.danger {
	background-color: rgba(255, 62, 14, 0.498);
	color: white;
}
