<aside class="sidebar">
	<ul>
		<li class="<%= selectedLink === 'cars' ? 'selected-link' : '' %>">
			<a href="/cars">CARROS</a>
		</li>
		<li class="<%= selectedLink === 'new' ? 'selected-link' : '' %>">
			<a href="/cars/new">CREAR</a>
		</li>
	</ul>
</aside>
