<%layout('/partials/boilerplate')%>
<div class="banner">
	<h1>Disfruta unas cómodas vacaciones</h1>
	<h2>Manejando el carro de tu gusto con entrega al aeropuerto</h2>
	<img src="/imgs/banner.png" alt="Banner de carros" />
</div>
